.login-page {
  display: flex;
  flex-direction: column;
  margin: 10% 10%;
}

#login-button {
  margin-top: 2%;
  padding: 15px 32px;
  background-color: blue;
  color: white;
}

.down-buttons {
  width: 100%;
  display: block;
}

.buttons-d {
  padding: 15px 32px;
  width: 50%;
  background-color: blue;
  color: white;
}
